<!DOCTYPE html>
<html lang="he">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="design.css">
</head>

<body>

    <div class="all">
        <div class="background">
            <img src="photos/sofa.png" alt="">
            <div class="indicators">
                <div class="indicator active"></div>
                <div class="indicator"></div>
                <div class="indicator"></div>
                <div class="indicator"></div>
            </div>
        </div>
        <div class="prefrences">
            <div class="text">
                <h1>מה אתם בדיוק מחפשים?</h1>
                <p>בחרו אחת מהאפשרויות הבאות</p>
            </div>
            <div class="buttons">
                <a href="fullroom">
                    <button class="full-room">
                        <h1>חדר שלם</h1>
                        <p>אנחנו רוצים לעצב מחדש את כל החדר</p>
                    </button>
                </a>
                <a href="few-items">
                    <button class="few-items">
                        <h1>כמה פריטים בודדים</h1>
                        <p>אנחנו רוצים להחליף/להוסיף כמה פריטים בודדים לחדר</p>
                    </button>
                </a>
                <a href="one-item">
                    <button class="one-item">
                        <h1>פריט אחד ספציפי</h1>
                        <p>אנחנו מחפשים פריט יחיד שיתאים לעיצוב של שאר החדר</p>
                    </button>
                </a>
            </div>
        </div>
    </div>

</body>

</html>