<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="fullroom.css">
</head>

<body>
    <div class="all">
        <div class="background">
            <img src="photos/sofa.png" alt="">
            <div class="indicators">
                <div class="indicator active"></div>
                <div class="indicator"></div>
                <div class="indicator"></div>
                <div class="indicator"></div>
            </div>
        </div>
        <div class="wich-room">
            <h1>איזה חדר אתם רוצים לעצב?</h1>
            <a href="/budget"><button>סלון</button></a>
            <a href="/budget"><button>חדר שינה להורים</button></a>
            <a href="/budget"><button>חדר שינה להורים</button></a>
            <a href="/budget"><button>מטבח</button></a>
            <a href="/budget"> <button>חדר רחצה</button></a>
            <a href="/budget"><button>חדר עבודה</button></a>
            <a href="/budget"><button>מרפסת שמש</button></a>
            <a href="/budget"><button>חצר</button></a>
        </div>
    </div>
</body>

</html>