<!DOCTYPE html>
<html lang="he">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <script src="https://kit.fontawesome.com/e1c338c744.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <title>Main</title>
</head>

<body>
    <div class="all">
        <div class="options">
            <div class="user-profile">
                <div class="pfp"></div>
                <div class="text">
                    <p>שלום</p>
                    <h1>
                        <%= user.username %>
                    </h1>
                </div>
            </div>
            <div class="icons">
                <button><i class="fa-regular fa-bell" style="color: #000000; font-size: 18.33px;"></i></button>
                <button><i class="fa-solid fa-gear"
                        style="color: #000000; opacity: 0.7; font-size: 16.82px;"></i></button>
            </div>
        </div>
        <div class="search">
            <i class="fa-solid fa-magnifying-glass" style="color: #000000; font-size: 15px;"></i>
            <input type="search" placeholder="מחפשים פריט ספציפי?">
        </div>
        <div class="scan">
            <h1>התחילו לסרוק את הבית</h1>
            <p>סרקו את הבית, בחרו את העיצוב האהוב עליכם ויחד נעצב את הבית</p>
        </div>
        <div class="best-sellers">
            <h1>הנמכרים ביותר</h1>
            <div class="cubes-container">
                <div class="cube">
                    <div class="img">
                        <img src="chair.png" alt="">
                    </div>
                    <h1>כיסא מעוצב</h1>
                    <p>לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית נולום ארווס סאפיאן - פוסיליס קוויס, אקווזמן
                        קוואזי במר מודוף. אודיפו בלאסטיק מונופץ קליר, בנפת נפקט למסון בלרק</p>
                    <div class="price">
                        <h1>250₪</h1>
                        <button>לבדיקה בבית</button>
                    </div>
                </div>
                <div class="cube">
                    <div class="img">
                        <img src="chair.png" alt="">
                    </div>
                    <h1>כיסא מעוצב</h1>
                    <p>לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית נולום ארווס סאפיאן - פוסיליס קוויס, אקווזמן
                        קוואזי במר מודוף. אודיפו בלאסטיק מונופץ קליר, בנפת נפקט למסון בלרק</p>
                    <div class="price">
                        <h1>250₪</h1>
                        <button>לבדיקה בבית</button>
                    </div>
                </div>
                <div class="cube">
                    <div class="img">
                        <img src="chair.png" alt="">
                    </div>
                    <h1>כיסא מעוצב</h1>
                    <p>לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית נולום ארווס סאפיאן - פוסיליס קוויס, אקווזמן
                        קוואזי במר מודוף. אודיפו בלאסטיק מונופץ קליר, בנפת נפקט למסון בלרק</p>
                    <div class="price">
                        <h1>250₪</h1>
                        <button>לבדיקה בבית</button>
                    </div>
                </div>
                <div class="cube">
                    <div class="img">
                        <img src="chair.png" alt="">
                    </div>
                    <h1>כיסא מעוצב</h1>
                    <p>לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית נולום ארווס סאפיאן - פוסיליס קוויס, אקווזמן
                        קוואזי במר מודוף. אודיפו בלאסטיק מונופץ קליר, בנפת נפקט למסון בלרק</p>
                    <div class="price">
                        <h1>250₪</h1>
                        <button>לבדיקה בבית</button>
                    </div>
                </div>
                <div class="cube">
                    <div class="img">
                        <img src="chair.png" alt="">
                    </div>
                    <h1>כיסא מעוצב</h1>
                    <p>לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית נולום ארווס סאפיאן - פוסיליס קוויס, אקווזמן
                        קוואזי במר מודוף. אודיפו בלאסטיק מונופץ קליר, בנפת נפקט למסון בלרק</p>
                    <div class="price">
                        <h1>250₪</h1>
                        <button>לבדיקה בבית</button>
                    </div>
                </div>
                <div class="cube">
                    <div class="img">
                        <img src="chair.png" alt="">
                    </div>
                    <h1>כיסא מעוצב</h1>
                    <p>לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית נולום ארווס סאפיאן - פוסיליס קוויס, אקווזמן
                        קוואזי במר מודוף. אודיפו בלאסטיק מונופץ קליר, בנפת נפקט למסון בלרק</p>
                    <div class="price">
                        <h1>250₪</h1>
                        <button>לבדיקה בבית</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <a href="/user">
                <button><i class="fa fa-user" style="color: #000000; font-size: 25px;  opacity: 0.4;"></i></button>
            </a>
            <button><i class="fa fa-home" aria-hidden="true" style="color: #000000; font-size: 27px;"></i></button>
            <button><i class="fa fa-shopping-cart" style="color: #000000; font-size: 27px; opacity: 0.4;"></i></button>
        </div>
    </div>

</body>

</html>