<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="all">
        <div class="background">
            <img src="photos/table.png" alt="">
            <div class="indicators">
                <div class="indicator active"></div>
                <div class="indicator active"></div>
                <div class="indicator"></div>
                <div class="indicator"></div>
            </div>
        </div>
        <div class="text">
            <h1>מה הסגנון המועדף עליכם?</h1>
            <p>בחרו את הסגנון האהוב עליכם ונביא לכם הצעות לעיצובים בהתאם</p>
        </div>
        <div class="styles-container">
            <div class="styles">
                <div style="background-image: url(photos/boho.jpg);">
                    <div class="text">
                        <h1>בוהו סטייל</h1>
                        <p>בלבלבלבלבלבלבלבלבלבלבל</p>
                    </div>
                </div>
                <div style="background-image: url(photos/modern.jpg);">
                    <div class="text">
                        <h1>עיצוב מודרני</h1>
                        <p>בלבלבלבלבלבלבלבלבלבלבל</p>
                    </div>
                </div>
                <div style="background-image: url(photos/nordic.jpg);">
                    <div class="text">
                        <h1>עיצוב נורדי</h1>
                        <p>בלבלבלבלבלבלבלבלבלבלבל</p>
                    </div>
                </div>
                <div style="background-image: url(photos/industrial.jpg);">
                    <div class="text">
                        <h1>עיצוב תעשייתי</h1>
                        <p>בלבלבלבלבלבלבלבלבלבלבל</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>