<!DOCTYPE html>
<html lang="he">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <link rel="stylesheet" href="userprofile.css">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">

</head>

<body>
    <div class="all">
        <div class="pfp"></div>
        <div class="usergrid">
            <div id='username' class="box one">
                <p>
                    <%= user.username %>
                </p>
                <!-- <p>אביב גאייר</p> -->
            </div>
            <div class="box two">
                <img src="clock.png">
                <p>הזמנות קודמות</p>
            </div>
            <div class="box three">
                <img src="coupon.png">
                <p>קופונים</p>
            </div>
            <div class="box four">
                <img src="tracking.png">
                <p>כתובת למשלוח</p>
            </div>

        </div>
        <div class="saved-stuff">
            <p>פריטים שמורים</p>
            <div class="cubes-container">
                <div class="cube">
                    <div class="img">
                        <img src="chair.png" alt="">
                    </div>
                    <h1>כיסא מעוצב</h1>
                    <p>לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית נולום ארווס סאפיאן - פוסיליס קוויס, אקווזמן
                        קוואזי במר מודוף. אודיפו בלאסטיק מונופץ קליר, בנפת נפקט למסון בלרק</p>
                    <div class="price">
                        <h1>250₪</h1>
                        <button>לבדיקה בבית</button>
                    </div>
                </div>
                <div class="cube">
                    <div class="img">
                        <img src="chair.png" alt="">
                    </div>
                    <h1>כיסא מעוצב</h1>
                    <p>לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית נולום ארווס סאפיאן - פוסיליס קוויס, אקווזמן
                        קוואזי במר מודוף. אודיפו בלאסטיק מונופץ קליר, בנפת נפקט למסון בלרק</p>
                    <div class="price">
                        <h1>250₪</h1>
                        <button>לבדיקה בבית</button>
                    </div>
                </div>
                <div class="cube">
                    <div class="img">
                        <img src="chair.png" alt="">
                    </div>
                    <h1>כיסא מעוצב</h1>
                    <p>לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית נולום ארווס סאפיאן - פוסיליס קוויס, אקווזמן
                        קוואזי במר מודוף. אודיפו בלאסטיק מונופץ קליר, בנפת נפקט למסון בלרק</p>
                    <div class="price">
                        <h1>250₪</h1>
                        <button>לבדיקה בבית</button>
                    </div>
                </div>
                <div class="cube">
                    <div class="img">
                        <img src="chair.png" alt="">
                    </div>
                    <h1>כיסא מעוצב</h1>
                    <p>לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית נולום ארווס סאפיאן - פוסיליס קוויס, אקווזמן
                        קוואזי במר מודוף. אודיפו בלאסטיק מונופץ קליר, בנפת נפקט למסון בלרק</p>
                    <div class="price">
                        <h1>250₪</h1>
                        <button>לבדיקה בבית</button>
                    </div>
                </div>
                <div class="cube">
                    <div class="img">
                        <img src="chair.png" alt="">
                    </div>
                    <h1>כיסא מעוצב</h1>
                    <p>לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית נולום ארווס סאפיאן - פוסיליס קוויס, אקווזמן
                        קוואזי במר מודוף. אודיפו בלאסטיק מונופץ קליר, בנפת נפקט למסון בלרק</p>
                    <div class="price">
                        <h1>250₪</h1>
                        <button>לבדיקה בבית</button>
                    </div>
                </div>
                <div class="cube">
                    <div class="img">
                        <img src="chair.png" alt="">
                    </div>
                    <h1>כיסא מעוצב</h1>
                    <p>לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית נולום ארווס סאפיאן - פוסיליס קוויס, אקווזמן
                        קוואזי במר מודוף. אודיפו בלאסטיק מונופץ קליר, בנפת נפקט למסון בלרק</p>
                    <div class="price">
                        <h1>250₪</h1>
                        <button>לבדיקה בבית</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <button><i class="fa fa-user" style="color: #000000; font-size: 25px;"></i></button>
            <a href="/main">
                <button><i class="fa fa-home" aria-hidden="true"
                        style="color: #000000; font-size: 27px; opacity: 0.4;"></i></button>
            </a>
            <button><i class="fa fa-shopping-cart" style="color: #000000; font-size: 27px; opacity: 0.4;"></i></button>
        </div>
    </div>
</body>

</html>