body {
    display: flex;
    background-color: #EDEDED;
    font-family: "Rubik", sans-serif;
    color: black;
    direction: rtl;
}

.ui-widget {
    font-family: "Rubik", sans-serif;

}

html,
body {
    height: --webkit-fill-avilable;
    overflow: hidden;
    margin: 0;
}

.all {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background {
    display: flex;
    flex-direction: column;
    height: 265px;
    width: 100vw;
    background-color: white;
    align-items: center;
}

.background>img {
    width: 299px;
    height: 136px;
    background-size: cover;
    margin-top: 58px;
}

.indicators {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    width: 244px;
    height: 2px;
}

.indicator {
    width: 46px;
    height: 2px;
    /* UI Properties */
    background: #7B7B7B 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 0.4;
}

.indicator.active {
    opacity: 1;
}

.text {
    margin-top: 30px;
    width: 380px;
    height: 61px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
}

.text>h1 {
    font-size: 30px;
    margin: 0;
}

.text>p {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

.buttons {
    margin-top: 25px;
    height: 135px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    text-align: right;
    width: 380px;
    height: 55px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    border: 0;
    overflow: hidden;
    font-size: 20px;
    padding: 0 20px 0 20px;
}

#yes {
    position: fixed;
    z-index: 999;
}



#ran>p {
    font-size: 14px;
    font-weight: 400;
    margin: 55px 0 27px 0;
}

#ran {
    text-align: right;
    width: 340px;
    height: 55px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    border: 0;
    overflow: hidden;
    font-size: 20px;
    padding: 0 20px 0 20px;

}

#keep-going {
    text-align: center;
    margin-top: 40px;
    width: 380px;
    height: 55px;
    color: white;
    background: #989898 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 0;
    font-size: 16px;
}

#slider-range {
    height: 1px;
    width: 278px;
}

#slider-range.ui {
    height: 1px;
    width: 278px;
}

.ui-slider {
    outline: none;
    background-color: #C6C6C6;
    border-radius: 0;
    width: 280px;
}

.ui-slider-range {
    background-color: #9A9A9A;
}

.slider-range {
    margin-top: 53px;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    height: 40px;
    width: 280px;
    justify-content: space-between;
}

.low {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    padding-right: 10px;
    width: 120px;
    height: 40px;
    background: #E2E2E2 0% 0% no-repeat padding-box;
    border-radius: 10px;

}

input {
    background-color: transparent;
    padding: 0;
}

input:focus {
    outline: none;
}

.low>p {
    font-size: 10px;
    margin: 0;
    width: min-content;
}

.high {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    padding-right: 10px;
    width: 120px;
    height: 40px;
    /* UI Properties */
    background: #E2E2E2 0% 0% no-repeat padding-box;
    border-radius: 10px;
}

.high>p {
    font-size: 10px;
    margin: 0;
    width: min-content;

}

.ui-slider-horizontal .ui-state-default {
    width: 12px;
    height: 12px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 2px #00000019;
    border-radius: 10px;
    border: none;
}


.ui-slider-handle {
    display: flex;
    justify-content: center;
}

.text-min {
    height: 48px;
    margin-top: -15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: fit-content;
}

.text-min>p {
    display: flex;
    justify-content: center;
    font-weight: 400;
    margin: 0;
    font-size: 10px;
}

.text-min>#amountext {
    font-size: 14px;
}



@media only screen and (max-height: 932px) {
    .background {
        height: calc(265vh / 932 * 100);
    }

    .background>img {
        width: calc(299vh / 932 * 100);
        height: calc(136vh / 932 * 100);
        margin-top: calc(58vh / 932 * 100);
    }

    .indicators {
        margin-top: calc(45vh / 932 * 100);
        width: calc(244vh / 932 * 100);
        height: calc(2vh / 932 * 100);
    }

    .indicator {
        width: calc(46vh / 932 * 100);
        height: calc(2vh / 932 * 100);
    }

    .text {
        margin-top: calc(30vh / 932 * 100);
        width: calc(380vh / 932 * 100);
        height: calc(61vh / 932 * 100);
    }

    .text>h1 {
        font-size: calc(30vh / 932 * 100);
    }

    .text>p {
        font-size: calc(18vh / 932 * 100);
    }

    .buttons {
        margin-top: calc(25vh / 932 * 100);
        height: calc(135vh / 932 * 100);
    }

    button {
        text-align: right;
        width: calc(380vh / 932 * 100);
        height: calc(55vh / 932 * 100);
        font-size: calc(20vh / 932 * 100);
        padding: 0 calc(20vh / 932 * 100) 0 calc(20vh / 932 * 100);
    }

    #ran>p {
        font-size: calc(14vh / 932 * 100);
        margin: calc(55vh / 932 * 100) 0 calc(27vh / 932 * 100) 0;
    }

    #ran {
        width: calc(340vh / 932 * 100);
        height: calc(55vh / 932 * 100);
        font-size: calc(20vh / 932 * 100);
        padding: 0 calc(20vh / 932 * 100) 0 calc(20vh / 932 * 100);

    }

    #keep-going {
        text-align: center;
        margin-top: calc(40vh / 932 * 100);
        width: calc(380vh / 932 * 100);
        height: calc(55vh / 932 * 100);
        font-size: calc(16vh / 932 * 100);
    }

    #slider-range {
        height: calc(1vh / 932 * 100);
        width: calc(278vh / 932 * 100);
    }

    .ui-slider {
        width: calc(280vh / 932 * 100);
    }

    .slider-range {
        margin-top: calc(53vh / 932 * 100);
        font-size: calc(16vh / 932 * 100);
        height: calc(40vh / 932 * 100);
        width: calc(280vh / 932 * 100);
    }

    .low {
        width: calc(120vh / 932 * 100);
        height: calc(40vh / 932 * 100);
    }

    .low>p {
        font-size: calc(10vh / 932 * 100);

    }

    .high {
        width: calc(120vh / 932 * 100);
        height: calc(40vh / 932 * 100);
    }

    .high>p {
        font-size: calc(10vh / 932 * 100);
    }

    .text-min {
        height: calc(48vh / 932 * 100);
        margin-top: calc(-15vh / 932 * 100);
    }

    .text-min>p {
        font-size: calc(10vh / 932 * 100);
    }

    .text-min>#amountext {
        font-size: calc(14vh / 932 * 100);
    }

}